@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

/* #61828A */
:root {
    --font-color: #61828A; 
}

body, html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
    color-scheme: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: #0E2433;
    color: #E1E1E0;
    font-family: "Roboto", sans-serif;
}

.company-name {
    letter-spacing: -1px;
}

section {
    padding: 96px 36px;
}

/* hero-section */
.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -2px;
    line-height: 1;
    font-size: clamp(2.5rem, 5vw, 5rem);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* vertical & horizontal offset, blur radius and color*/
    margin-top: 15px;
}

.hero-text p {
    color: var(--font-color);
    font-size: clamp(1rem, 1.1vw, 1.1rem);
    margin: 32px 0;
}

.hero-text a img {
    width: auto; /* Prevent the image from stretching */
    height: auto; /* Maintain the image's aspect ratio */
    max-width: 24px; 
}

.hero-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7rem;
    place-items: center;
    /* padding: 0 3em 0; */
}

.hero-text div {
    display: flex;
    gap: 8px;
}

.hero-text div a {
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.hero-text a:not(.explore) { 
    background-color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.hero-text .explore {
    border: 2px solid white;
    background: transparent;
    color: white;
    transition-duration: 0.5s;
}

.hero-text div a:nth-of-type(2):hover {
    background-color: white;
    color: black;
}

.learn-more:hover {
    border-color: white;
}

.overlay {
    position: relative;
    width: fit-content;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 50%;
    margin: auto;

    animation: bounce 2s infinite ease-in-out; /* Apply animation to the image */
    /* color horizontal offset vertical offset blur radius spread radius */
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px 3px; 
}

.overlay img {
    /**/
    max-width: 30rem; 
    width: 100%; /* inline elements do not naturally expand to fill the width of their container so by setting width to 100% we ensure they do take up the full width available, allowing max-width to limit thier size. but block elements have default width 100%*/
}

/* Define the keyframes for the bounce effect */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end at the same position */
    }
    50% {
        transform: translateY(-30px); /* Slightly move upwards */
    }
}

.right-side ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.right-side a {
    text-decoration: none;
    color: white;
}

/*about-section*/
.about-body > img {
    /*the width makes sure it fills the page horizontally always and the max-width ensures that it does not get bigger thann our preference theey are both needed for a responsive design. width 100% is only for inline elelements block elements have them by default*/
    max-width: 30rem;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px 5px;
}

.about-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    align-items: center;
    line-height: 1.4;
    gap: 2rem;
}

.about-body h3 {
    font-size: 1.5rem;
}

.about-body h4, 
summary {
    font-size: 1.2rem;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

.about-body p,
.about-body li {
    color: #7E8C9C;
}

.about-body ul {
    list-style: none;
}

.about-body ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    gap: 5px;
}

@media (max-width: 768px) {
    .about-body {
        grid-template-columns: 1fr;
    }

   
    .about-body h3 {
        text-align: center;
    }

    .explore {
        text-align: center;
    }

    .hero-text div {
        flex-direction: column;
    }
}

/*services section*/
#services {
    padding: 6rem 2rem;
    margin-top: 2rem;
}

.about-header,
.services-header,
.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 64px;
}

.section-span {
    background-color: rgba(46, 196, 182, 0.1);
    color: #2ec4b6;
    padding: 5px 20px;
    border-radius: 9999px; /*quick way to form completely rounded corners*/
    font-weight: bold;
}

.section-header-h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.section-header-p {
    font-size: 1.2rem;
    color: var(--font-color);
    margin-top: 3px;
}

.services-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.services-grid div,
.services-grid article {
    /* box-shadow: [color] [offset-x] [offset-y] [blur-radius] [spread-radius]; */
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px 0px;
    padding: 2rem;
    border-radius: 20px;
}

.services-grid p {
    color: grey;
}

.services-grid h3 {
    font-size: 1.3rem;
}

.services-grid a {
    color: #2EC4B6;
    text-decoration: none;
    display: inline-flex; /* align inline elements without making them behave as block with this use all the flex properties */
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}

/* call to action */
.call-to-action {
    margin: 5rem auto;
    max-width: 800px;
    border: 2px solid;
    background: linear-gradient(white, teal);
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 10px 60px 30px;
}

.call-to-action h3 {
    font-size: 1.8rem;
    color: black;
}

.call-to-action p {
    color: rgb(75 85 99);
    margin-top: 0;
}

.call-to-action a {
    padding: 12px 20px;
    background-color: white;
    border: none;
    color: black;
    text-decoration: none;
    border-radius: 9999px;
    font-weight: 500;
    display: inline-block; /*a tags are inline so to apply margin you need to change it*/
    margin-top: 0.7rem;
}

/*contact us*/
.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .form-flex {
        grid-template-columns: 1fr;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.send-message {
    padding: 2rem;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px 0px;
    border-radius: 15px;
    box-sizing: border-box;
}

.send-message * {
    width: 100%; /* Inputs scale with the form */
    box-sizing: border-box;
}

.send-message p {
    font-style: italic;
}

.contact-grid h3 {
    font-size: 1.5rem;
}

.form-flex {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1.5rem;
}

.form-flex div,
.text-area { /*label on top of input box*/
    display: flex;
    flex-direction: column;
}

.form-flex label,
.text-area label {
    margin-bottom: 5px;
}

.form-flex input,
form textarea {
    padding: 1rem 1.5rem;
    appearance: auto;
    border-radius: 0.7rem;
    background: transparent;
    outline: none;
    color: white;
    font-size: 1rem;
    transition: border-color .5s;
    border: 1px solid #0077B6;
}

form input:focus,
form textarea:focus {
    border-width: 2px;
}

form textarea {
    min-height: 150px;
    resize: vertical;
    font-family: 'Inter', sans-serif;
}

button[type="submit"] {
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    background-color: rgb(75 85 99);
    color: white;
    transition: transform 0.5s;
}

button[type="submit"]:hover {
    transform: scaleY(1.1);
}

/* loading animation */
.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 100px;
}

.spin {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*get in touch*/
.get-in-touch > p { /*direct descendants*/
    color: var(--font-color);
}

.get-in-touch a {
    margin-top: 24px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px 0px;
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    line-height: 24px;
    cursor: pointer;
    box-sizing: border-box;
    word-break: break-word; /* Breaks words when needed */
    overflow-wrap: break-word; /* Ensures wrapping for long words */
}

.get-in-touch a p,
.get-in-touch h4 {
    margin: 0;
}

.get-in-touch h4 {
    color: white;
}

.get-in-touch a p {
    color: #A9A9A9;
}

@media (max-width: 480px) {
    .get-in-touch a {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

/* office-hours */
.office-hours {
    padding: 2rem;
    margin-top: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px 0px;
    border-radius: 15px;
}

.office-hours div {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.office-hours div .day-of-week {
    color: #87CEEB;
}

.office-hours div span:not(.day-of-week) { /*excludes all spans with the class .day-of-the-week*/
    font-weight: bold;
    color: whitesmoke;
}

/*thank you message*/
.thank-you {
    text-align: center;
}

.thank-you img {
    border-radius: 50%;
    width: clamp(150px, 30%, 300px);
}

.thank-you h4 {
    font-size: 1.3rem;
}

.thank-you p {
    color: var(--font-color);
}

.thank-you button {
    padding: 12px 24px;
    border: 1px solid gray;
    border-radius: 10px;
    background: transparent;
    font-size: 1rem;
    color: whitesmoke;
}

footer {
    margin-top: 20px;
}


/* the hambruger menu */

.right-side button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid;
    padding: 1rem 2rem;

    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
    visibility: hidden;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
}

#menu img {
    width: 1.5rem;
    cursor: pointer;
}

#menu div:nth-of-type(1) {
    display: inline-flex;
    justify-content: flex-end;
}