*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}



body {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #0E2433;
    color: #E1E1E0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    margin: auto;
}

/* main-page */
.hero-div {
    margin-top: 10rem;
    position: relative;
}

.hero-div img {
    max-width: 100%;
    height: auto;
}

.learn-more {
    border: 0.5px solid #4b4b4a;
    padding: 0.9rem 2rem;
    white-space: nowrap;
    background-color: transparent;
    color: #E1E1E0;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.5ms;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*centers it perfectly*/
    z-index: 20;
}

.learn-more:hover {
    border-color: white;
}

.overlay {
    position: relative;
    width: fit-content;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 50%;
    margin: auto;
}

/* services section */
hr {
    margin: 0;
    width: 150px;
    margin: auto;
    border: 2px solid silver;
}


#services-section h2 {
    text-align: center;
    margin-bottom: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.flex img {
    max-width: 70%;
    height: auto;
}

.flex ul {
    line-height: 2rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}


/* contact us section*/

.sub-contact {
    display: flex;
    flex-direction: column;
}

.sub-contact ul {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

form div {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
}

form input {
    border-style: none none solid;
    border-width: 1px;
    background-color: #0000;
    height: 40px;
    margin-bottom: 0 !important;
    transition: border-color .2s;
    outline: none;
    font-size: 1.1rem;
    color: white;
    font-family: 'Inter Variable';
    padding: 10px;
}

form input::placeholder,
form textarea::placeholder {
    font-size: 1rem;
}

form textarea {
    background-color: #0000;
    outline: none;
    font-size: 1.1rem;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter Variable';
    min-height: 180px;
    padding: 18px;
    resize: vertical;
    width: 20rem;
    width: 100%;
}

input[type="submit"] {
    border: 1px solid gray;
    padding: 10px 50px;
    margin: auto;
    cursor: pointer;
}

input[type="submit"]:active {
    transform: scale(0.8);
}


input[type="submit"]:hover,
form input:focus,
form textarea:focus {
    border-color: white;
} 

section {
    scroll-margin-bottom: 50rem;
}


#about-section,
#services-section {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;  
    margin-top: 2rem;
}

#about-section,
#services-section,
.main-page {
    height: 90vh;
}

h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    color: #40E0D0;

}

#contact-us-section h2 {
    text-align: center;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}


/* about section */

#about-section p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-size: clamp(0.938rem, 0.521rem + 1.389vw, 1.2rem);
}

#about-section h3 {
    color: #40E0D0;
    margin: 2rem 0 1rem 0;
}

#about-section ul {
    list-style: none;
    padding-left: 0;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

#about-section ul li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

#about-section ul li:before {
    content: "•";
    color: #40E0D0;
    position: absolute;
    left: 0;
}


.footer-hr {
    width: 97%;
    border: 1px solid rgba(192, 192, 192, 0.2);
    margin-top: 5px;
}

.extra-info {
    border: 1px solid rgba(192, 192, 192, 0.2);
    width: fit-content;
}


.sub-contact {
    display: flex;
    line-height: 40px;
}

footer p {
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    padding: 10px;
    text-align: center;
}