/* header */
nav .left-side {
    font-size: clamp(0.625rem, 0.398rem + 1.136vw, 1.25rem);
}

nav .right-side {
    font-size: clamp(0.625rem, 0.466rem + 0.795vw, 1.063rem);
    display: flex;
    gap: 40px;
    cursor: pointer;
} 

nav .right-side * {
    width: fit-content;
    transition: border-bottom 0.5s ease-in-out;

}

/*grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)*/
nav .company-name-small {
    font-size: clamp(0.625rem, 0.398rem + 1.136vw, 1.25rem);
    cursor: pointer;
}


nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 3.125rem;
    font-size: 1.2rem;
    z-index: 1000; 
    width: 100%;
    height: 10vh;
    box-sizing: border-box; /*include padding when calculating*/
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
}


nav .left-side a {
    font-size: 20px;
    color: inherit;
    font-weight: 800;
    text-decoration: none;
}

nav li:nth-of-type(4) {
    margin-left: 12px;
}

nav li:hover {
    border-bottom: 3px solid teal;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}
#about-page:hover,
#services-page:hover,
#contact-us-page:hover,
.company-name:hover {
    color: rgba(64, 224, 208, 0.6);
}
