@media (min-width: 576px) { /*576px or more*/
    .flex {
        flex-direction: row !important;
    }

    .sub-contact {
        display: flex !important;
        flex-direction: row !important;
        gap: 30px;
        margin-top: 1em;
    }

    form {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .sub-contact {
        gap: 3rem;
    }
}

/*copy the webstorm webite here*/
@media (min-width: 1200px) {
    #contact-us-section {
        display: flex;
    }

    #contact-us-section h2 {
        font-size: 3rem;
        font-style: italic;
        width: 500px;
        font-family: 'Newsreader Variable';
        display: inline;
    }

    .sub-contact {
        margin-top: 5rem;
        flex: 1;
        gap: 5rem;
    }

    .flex ul {
        line-height: 3rem !important;
    }
}


@media (max-width: 345px) {
    nav {
        flex-direction: column;
        justify-content: space-around !important;
        gap: 0 !important;
        height: 7vh !important;
    }
}